<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% assign collection_handle = product.metafields.special.related_collection %}
{% assign collection = collections[collection_handle] %}

<article class="product--outer product-special--section">{% comment %}
  Product slideshow, never moves
  {% endcomment %}
  <div class="product-details-mobile" data-product-details>
    <h1 class="product-title">{{ product.title }}</h1>
    <div class="product-description rte" data-product-description>
      {{ product.description }}
    </div>
  </div>
  {%
   render 'product-gallery',
    product: product,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    click_to_zoom: gallery_click_to_zoom,
    hover_zoom: gallery_hover_zoom
  %}
  <div class="product-main">
    <div class="product-details" data-product-details>
      <h1 class="product-title">{{ product.title }}</h1>
      <div class="product-description rte" data-product-description>
        {{ product.description }}
      </div>
    </div>

    <div class="asyncGrid async--container jas-add-to-cart">
      <div class="async--products show">
        <div class="asyncSort container-mobile-lip">
          <div class="asyncSort--dropdown colours">
            <div class="async--dropdown-mob">
              <div class="async--Collapse">
                <button
                  class="xigen--translate collapsed"
                  data-translatekey="Filter Colours"
                  data-toggle="collapse"
                  data-target="#async-colours"
                  aria-expanded="false">
                    Filter Colours
                  <div class="arrow-on-btn">
                    <svg width="10" height="15" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L8 9L1 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </button>
              </div>
            </div>
            <span class="asyncSort--title">
              <span class="xigen--translate" data-translatekey="Colours">Colours</span>:
            </span>
            <span
              class="asyncSort--value is-filterable xigen--translate"
              data-translatekey="All"
              id="DDcolours">
              <span>All</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" /></svg>
            </span>
            <div id="async-colours" class="collapse" aria-expanded="false">
              <ul class="asyncSort--list" id="sortListColour">
                {% for tag in collection.tags %}
                  {% if tag contains "Colour_" %}
                    <li class="filterColour" data-colour="{{ tag }}">{{ tag | remove: 'Colour_' }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="asyncSort--dropdown size">
            <span class="asyncSort--title">
              <span class="xigen--translate" data-translatekey="Size">Size</span>:
            </span>
            <span
              class="asyncSort--value is-filterable xigen--translate"
              data-translatekey="All"
              id="DDsize">
              <span>All</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" /></svg>
            </span>
            <ul class="asyncSort--list" id="sortListSize">
              {% for tag in collection.tags %}
                {% if tag contains "Size_" %}
                  <li class="filterSize" data-size="{{ tag }}">{{ tag | remove: 'Size_' }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="asyncSort--dropdown series">
            <span class="asyncSort--title">
              <span class="xigen--translate" data-translatekey="Series">Series</span>:
            </span>
            <span
              class="asyncSort--value is-filterable xigen--translate"
              data-translatekey="All"
              id="DDseries">
              <span>All</span>
              <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" /></svg>
            </span>
            <ul class="asyncSort--list" id="sortListSeries">
              {% for tag in collection.tags %}
                {% if tag contains "Series_" %}
                  <li class="filterSeries" data-series="{{ tag }}">{{ tag | remove: 'Series_' }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="filter-by--container">
          <h4 class="bold">
            <span class="xigen--translate" data-translatekey="Filtering By">Filtering By</span>:</h4>
          <div data-type="colour" class="filter-by--option filter-by--option__colour">
            <h4>
              <span class="xigen--translate" data-translatekey="Colours">Colours</span>:</h4>
            <p>
              <span class="filter-by--text"></span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z" /></svg>
            </p>
          </div>
          <div data-type="size" class="filter-by--option filter-by--option__size">
            <h4>
              <span class="xigen--translate" data-translatekey="Size">Size</span>:</h4>
            <p>
              <span class="filter-by--text"></span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z" /></svg>
            </p>
          </div>
          <div data-type="series" class="filter-by--option filter-by--option__series">
            <h4>
              <span class="xigen--translate" data-translatekey="Series">Series</span>:</h4>
            <p>
              <span class="filter-by--text"></span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z" /></svg>
            </p>
          </div>
          <h4 class="filter-by--clear show" data-translatekey="Clear Search">Clear Search</h4>
        </div>
        <div class="mob-des-text hidden-xl hidden-md">
          <p>Select a colour to view more information</p>
        </div>
        <ul class="async--grid" id="product-grid"></ul>
      </div>
    </div>

    {% comment %}
    Product form original location, will remain unless is 3 column layout
    {% endcomment %}
    <div class="product-form--regular async-product-form" data-product-form-regular>
      <div data-product-form-area>
        {% if is_product_modal %}
          <div data-product-quickshop-message class="product-message--container"></div>
        {% endif %}

        {% unless onboarding %}
          {%
             render 'product-form',
           product: product,
           selected_variant: selected_variant,
           is_product_modal: is_product_modal, %}
        {% endunless %}
      </div>
    </div>

    {% comment %}
    Product description field, never moves
    {% endcomment %}</div>
</article>


<script>
  const col_handle = "{{ collection.handle }}";
  const limit = "{{ collection.products_count }}";

  $.ajax({
    url: '/collections/' + col_handle + '/products.json?limit=' + limit,
    dataType: 'json',
    success: function(resp) {
      // Handle the returned products data
      let product_grid = '';

      $.each(resp.products, function(index, prod) {
        let colors = '';
        let sizes = '';
        let series = '';

        console.log('prod === ', prod)

        const isNotPartOfVariants = prod.variants.length === 1 && prod.variants[0].price === '0.00';

        if (isNotPartOfVariants) {
          return;
        }

        $.each(prod.tags, function(index, tag) {
          if (tag.indexOf("Colour_") !== -1) {
            colors += tag + ","
          } else if (tag.indexOf("Size_") !== -1) {
            sizes += tag + ","
          } else if (tag.indexOf("Series_") !== -1) {
            series += tag + ","
          }
        });


        const has_image_urls = prod.images?.length > 0;
        let image_url = has_image_urls
          ? prod.images[1]
            ? prod.images[1].src
            : prod.images[0].src
          : ''
        ;

        product_grid += '<li class="async--grid__element filter-showing-size" data-variant-color="'+prod.title+'" colors="' + colors + '" sizes="' + sizes + '" series="' + series + '">';
        product_grid += '  <div class="async--grid__link grid">';
        product_grid += '    <div class="async--grid__chip-holder">';
        product_grid += '      <img class="async--grid__chip is--grid span-added"';
        product_grid += '        src="' + image_url + '" alt="' + prod.title + '">';
        product_grid += '    </div>';
        product_grid += '    <span class="async--grid__name">';

// product_grid +=        prod.title;
        product_grid += '    </span>';
        product_grid += '    <div class="async--grid__extra clearfix loaded">';
        product_grid += '      <div class="productExtra--image">';
        product_grid += '        <img class="async--grid__chip js--extra" src="' + image_url + '" alt="' + prod.title + '">';
        product_grid += '      </div>';
        product_grid += '      <div class="productExtra--content-wrapper">';
        product_grid += '        <div class="productExtra--content productExtra--mob" data-index="1">';
        product_grid += '          <h3 class="productExtra--title h5">' + prod.title + '</h3>';
        product_grid += '          <p class="productExtra--description">';
        product_grid += prod.body_html;
        product_grid += '          </p>';
        product_grid += '        </div>';
        product_grid += '        <table class="productExtra--table">';
        product_grid += '          <thead>';
        product_grid += '            <tr class="productExtra--row productExtra--row-header">';
        product_grid += '              <th scope="col" class="productExtra--cell productExtra--cell-1 xigen--translate" data-translatekey="Size">';
        product_grid += '                Size</th>';
        product_grid += '              <th scope="col" class="productExtra--cell productExtra--cell-2 xigen--translate" data-translatekey="SKU">SKU';
        product_grid += '              </th>';
        product_grid += '              <th scope="col" class="productExtra--cell productExtra--cell-3">RRP</th>';
        product_grid += '              <th scope="col" class="productExtra--cell productExtra--cell-4 xigen--translate" data-translatekey="Price">';
        product_grid += '                Price</th>';
        product_grid += '              <th scope="col" class="productExtra--cell productExtra--cell-5 xigen--translate"';
        product_grid += '                data-translatekey="Stock">Stock</th>';
        product_grid += '              <th scope="col" class="productExtra--cell productExtra--cell-6">QTY</th>';
        product_grid += '            </tr>';
        product_grid += '          </thead>';
        product_grid += '          <tbody>';
        $.each(prod.variants, function(index, variant) {
          product_grid += '              <tr class="productExtra--row productExtra--size">';
          product_grid += '                <td class="productExtra--cell productExtra--cell-1" data-cell-header="Size">';
          product_grid += '                  <span class="productExtra--cell-content productExtra--size">' + variant.title + '</span>';
          product_grid += '                </td>';
          product_grid += '                <td class="productExtra--cell productExtra--cell-2" data-cell-header="SKU">';
          product_grid += '                  <span class="productExtra--cell-content productExtra--sku">';
          const sku = variant.sku != null
            ? variant.sku
            : '';
          product_grid += '                    <a href="' + prod.handle + '?variant=' + variant.id + '">' + sku + '</a>';
          product_grid += '                  </span>';
          product_grid += '                </td>';
          product_grid += '                <td class="productExtra--cell productExtra--cell-3" data-cell-header="RRP">';
          const compare_at_price = variant.compare_at_price !=null ? '$' + variant.compare_at_price: '';
          product_grid += '                  <span class="productExtra--cell-content productExtra--rrp js--productRRP">' + compare_at_price + '</span>';
          product_grid += '                </td>';
          product_grid += '                <td class="productExtra--cell productExtra--cell-4" data-cell-header="Price">';
          product_grid += '                  <span class="productExtra--cell-content productExtra--price js--productPrice">$' + variant.price + '</span>';
          product_grid += '                </td>';
          const stock = variant.available
            ? 'In Stock'
            : 'Backorder';
          product_grid += '                <td class="productExtra--cell productExtra--cell-5" data-cell-header="Stock">';
          product_grid += '                  <span class="productExtra--cell-content productExtra--stock">' + stock + '</span>';
          product_grid += '                </td>';
          product_grid += '                <td class="productExtra--cell productExtra--cell-6 dflex" data-cell-header="Quantity">';
          product_grid += '                  <div class="productExtra--cell-content">'
          product_grid += '                   <input type="button" value="-" class="qty--modifier qtyminus" field="quantity">';
          product_grid += '                   <input type="number" placeholder="1" variant-id="' + variant.id + '" class="input-text form-control--prod js--qty" min="1" value="1">';
          product_grid += '                   <input type="button" value="+" class="qty--modifier qtyplus" field="quantity">';
          product_grid += '                   <button type="button" title="Add to Basket" class="btn cart-button js--gtm-add-to-cart xigen--translate"';
          product_grid += '                   data-translatekey="Add">Add</button>';
          product_grid += '                  </div>'
          product_grid += '                </td>';
          product_grid += '              </tr>';
        });
        product_grid += '          </tbody>';
        product_grid += '        </table>';
        product_grid += '        <div class="close_productExtra--content">';
        product_grid += '          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>';
        product_grid += '        </div>';
        product_grid += '      </div>';
        product_grid += '    </div>';
        product_grid += '  </div>';
        product_grid += '</li>';
      });

      $("#product-grid").html(product_grid);
    },
    error: function(error) {
      console.log('[test][error] === ', error)
    }
  });

  $("body").on('click', '.asyncSort--dropdown .asyncSort--value', function(e) {
    // $(".asyncSort--dropdown .asyncSort--list").removeClass('show');
    $(this).parent().find('.asyncSort--list').toggleClass('show');
  });

  $("body").on('click', '.asyncSort--dropdown button.xigen--translate.collapsed', function(e) {
    // $(".asyncSort--dropdown .asyncSort--list").removeClass('show');
    $(this).parent().parent().parent().find('.asyncSort--list').addClass('show-mobile');
    $(this).parent().parent().parent().find('.asyncSort--list').toggleClass('show');
  });

  let filter_color = '',
    filter_size = '',
    filter_series = '';

  $("body").on('click', '.asyncSort--dropdown .asyncSort--list li', function(e) {
    $(".asyncSort--dropdown .asyncSort--list").removeClass('show');
    $(".filter-by--container").addClass('show');
    let filter_type = '';
    if ($(this).hasClass('filterColour')) {
      filter_type = 'colour';
      filter_color = $(this).attr('data-colour');
    } else if ($(this).hasClass('filterSize')) {
      filter_type = 'size';
      filter_size = $(this).html().trim();
    } else if ($(this).hasClass('filterSeries')) {
      filter_type = 'series';
      filter_series = $(this).html().trim();
    }

    $(".filter-by--container .filter-by--option[data-type='" + filter_type + "']").addClass('show');
    $(".filter-by--container .filter-by--option[data-type='" + filter_type + "'] .filter-by--text").html($(this).html());

    filterProducts();
  });

  function filterProducts() {
    if (filter_color == '' && filter_size == '' && filter_series == '') {
      $(".filter-by--container").removeClass('show');
    }

    $("#DDcolours span").html(
      filter_color == ''
        ? 'ALL'
        : filter_color
    );
    $("#DDsize span").html(
      filter_size == ''
        ? 'ALL'
        : filter_size
    );
    $("#DDseries span").html(
      filter_series == ''
        ? 'ALL'
        : filter_series
    );

    $("#product-grid li.async--grid__element").each(function(i, item) {
      let colors = $(item).attr('colors');
      let sizes = $(item).attr('sizes');
      let series = $(item).attr('series');

      if (colors.indexOf(filter_color) !== -1 && sizes.indexOf(filter_size) !== -1 && series.indexOf(filter_series) !== -1) {
        $(item).css('display', 'flex').addClass('filter-showing-size');;
      } else {
        $(item).css('display', 'none').removeClass('filter-showing-size');
      }
    });
  }

  $("body").on('click', '.filter-by--container .filter-by--clear', function(e) {
    filter_color = '';
    filter_size = '';
    filter_series = '';

    $(".filter-by--container").removeClass('show');
    $(".filter-by--container .filter-by--option").removeClass('show');

    filterProducts();
  });

  $("body").on('click', '.filter-by--option.filter-by--option__series svg', function(e) {
    filter_series = '';
    $(this).parents('.filter-by--option__series').removeClass('show');

    filterProducts();
  });

  $("body").on('click', '.filter-by--option.filter-by--option__size svg', function(e) {
    filter_size = '';
    $(this).parents('.filter-by--option__size').removeClass('show');

    filterProducts();
  });

  $("body").on('click', '.filter-by--option.filter-by--option__colour svg', function(e) {
    filter_color = '';
    $(this).parents('.filter-by--option__colour').removeClass('show');

    filterProducts();
  });

  $("body").on('click', '.async--grid__chip-holder', function(e) {
    const child = $(this).parents('.async--grid__element');

    if (! child.hasClass('is-expanded')) {
      const parent = $(this).parents('.async--grid');
      $('.async--grid__element').removeClass('is-expanded');
      child.addClass('is-expanded');
      const childIndex = parent.children('.filter-showing-size').index(child);

      const n = ($(window).width() <= 768) ? childIndex % 3 : childIndex % 12;

      child.find('.async--grid__extra').css('left', 'calc((-100% * ' + n + ') - (' + n + ' * 8px))');
    } else {
      child.removeClass('is-expanded');
    }
  });

  $("body").on('click', '.close_productExtra--content', function(e) {
    $(this).parents('.async--grid__element').removeClass('is-expanded');
  });

  $("body").on('click', '.qty--modifier', function(e) {
    let qty = $(this).parents('.productExtra--cell-6').find('.form-control--prod').val();
    qty = parseInt(qty);
    if ($(this).hasClass('qtyplus')) {
      qty += 1;
    } else {
      qty -= 1;
    }

    if (qty > 0)
      $(this).parents('.productExtra--cell-6').find('.form-control--prod').val(qty);
  });

  $("body").on('click', '.cart-button', function(e) {
    let that = $(this).parents('.productExtra--row').find('.form-control--prod');
    let quantity = $(that).val();
    let variant_id = $(that).attr('variant-id');

    $(".async-product-form input[name='id']").val(variant_id);
    $(".async-product-form #product-quantity-input").val(quantity);

    $(".async-product-form form").submit();
  });
</script>